/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*General styles*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

*::selection{
    background-color: rebeccapurple;
    color: white;
}

/*Mozilla browser*/
*::-moz-selection{
    background-color: rebeccapurple;
    color: white;
}

body{
    background: rgb(62, 95, 206);
}

h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 55px !important;
    margin-top: 25px;
}

.container{
    max-width: 500px;
    /*Less than 500px its width is 90%*/
    width: 90%;
    margin: 40px auto;
    
}

/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*Row and column styles*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/

.app .row{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app .columns{
    width: 50%;
}

/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*General input and button styles*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/

.app label{
    line-height: 40px;  
}

.app input{
    text-align: center; /*All the text of the entries will be centered*/
    border: none;
}

.app .btn{
    width: 100%;
    background-color: blueviolet;
    color: #fff;
    display: inline-block;
    height: 40px;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    transition: all .3s ease;
}

.app .btn:hover{
    background-color: rgb(255, 83, 83);;
}

.app .btn .false{
    background-color: #33257e;
}

/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*Row: number of characters*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/

.app .character-numbers .buttons div{

    width: 100%;
}

.app .character-numbers .buttons div:nth-child(1) button{
    border-radius: 4px 0 0 4px;
}

.app .character-numbers input{
    height: 40px;
    width: 100%;
    cursor:default;
    background: #33257e;
    color: white;
}

.app .character-numbers .buttons div:nth-child(3) button{
    border-radius: 0px 4px 4px 0px;
}

.app .character-numbers .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*Row: Password Generator*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/

.app .row.generator{
    margin-bottom: 10px;
}

.app .row.generator .columns:nth-child(1){

    width: 30%;    
}

.app .row.generator .columns:nth-child(2){

    width: 65%;
    
}

input{
    width: 100%;
}

.app .row.row.generator .btn.btn-generate{


    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 0;
    line-height: 40px;
    position: relative;
}

.app .row.row.generator .btn.btn-generate i{

    margin-left: 20px;
    position: relative;
    top: -1px;
    font-size: 15px;
}

.app .row.row.generator .btn.btn-generate::after{

    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #8a2be2;
    transform: rotate(45deg);
    position: absolute;
    top:13px;
    right: -7px;
    transition: all .3s ease;
}

.app .row.row.generator .columns:nth-child(1):hover .btn.btn-generate::after{

    background-color: rgb(255, 83, 83);
}

.app .row.row.generator .input-password{

    width: 100%;
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, .25);
    color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: all .3s ease;
}

.app .row.row.generator .input-password:hover{
    border: 1px solid rgba(255, 255, 255, .50);
}

.app .fila.row.generator input::selection{

    background: #212139;
}

.app .fila.row.generator input::-moz-selection{
    
    background: #212139;
}

/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*Fila: Alerta*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/

.app .row.alert{
    justify-content: flex-end; /*Me posiciona la columna hacia la derecha*/

}

.app .row.alert .alert-copy{
   
    width: 100%;
    margin-right: 115px;
    color: white;
    color: rgb(255,255,255,0);
    transition: all .3s ease;
}

.app .row.alert .alert-copy.active{
     color: rgb(255, 255, 255,1);
}

.app .row.alert .alert-copy p,
.app .row.alert .alert-copy i {

    color: rgb(255, 255, 255,1);
}

/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
/*Media queries*/
/*-------------○ ♥ ♣ ♦ ♠ ○-------------*/
@media screen and (max-width: 500px){

    .app .row{

        flex-direction: column;
        margin-bottom: 20px;
        
    }

    .app .row .columns{
        width: 100%;
        margin-bottom: 20px;
    }

    .app .row.generator{
            border-top: 1px solid rgba(255, 255, 255, .25);
            padding-top: 40px;
    }

    .app .row.row.generator .columns:nth-child(1),
    .app .row.row.generator .columns:nth-child(2){
        width: 100%;
    }

    .app .row.generator .btn.btn.btn-generate::after{

        top: auto;
        left: 50%;
        right: 50%;
        bottom: -7px;

    }
}
